@import "minima/sturdy-fiesta-styles";
@import "minima/fastpages-dracula-highlight";

.site-header {
    background-color: #ADD8E6;
    color: white;
}

main.page-content {
    background-color: #264e9f;
    color: white;
}

.site-footer {
    background-color: #264e9f; /* Match the background color of the main content */
    color: white; /* You can specify the text color for the footer here */
}